body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
}

p{
    margin: 0px;
    text-align: center;
    
}

.protein-structure {
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    overflow: visible;
    margin-bottom: 2px;
}

span {
    align-content: flex-start;
    padding-top: 2px;
    padding-bottom: 40px;
    position: relative;
}

figure {
    margin: 0;
}

figcaption {
    color: red;
    position: absolute;
    bottom: 2px;
    left: 40%;
}

.DNAchain, .mRNAchain, .protein-chain-3letters, .protein-chain-1letter {
    border: 2px solid green;
    width: fit-content;
    padding: 2px;
    margin-bottom: 2px
}