.protein-chain {
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    padding: 5px;
    width: fit-content;
    overflow: visible;
}

span {
    align-content: flex-start;
    padding-top: 2px;
    padding-bottom: 20px;
    position: relative;

}

figure {
    margin: 0;
}

figcaption {
    color: red;
    position: absolute;
    bottom: 2px;
    left: 40%;
}